.modal-background {
  position: absolute;
  height: calc(100vh - 58px);
  width: 100vw;
  z-index: 1;
  box-sizing: content-box;
}

.modal-child {
  float: right;
  margin-right: 1vw;
  margin-top: -1vh;
}

.profileDiv {
  width: auto;
}

.profileArrow {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  margin-left: 6vw;
  z-index: 1;
}

.profileMenu {
  display: inline-block;
  width: 150px;
  overflow: auto;
  padding: 20px 0 0;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-top: none !important;
  border-radius: 2px;
}

.profileMenu h6 {
  margin: 10px 25px;
}

.logoutBtn {
  cursor: pointer;
  margin-bottom: 30px !important;
}

.logoutBtn:hover {
  background-color: transparent;
}